<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>注册页面</title>
        <link href="./register.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="aa" style="width: 200px; height:200px; background-color:red; float: left;">1</div>
        <input class="bb" style="width: 200px; height:270px; background-color:blue">2</input>
    </body>
       
    </script>
</html>