*{
    margin: 0;
    padding: 0;
}
.main{
    width: 400px;
    height: 300px;
    /*border: 1px solid red;*/
    margin: 150px auto;
    position: relative;
    background-color: aqua;
}
.main .welcome{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
.main .username{
    margin-top: 30px;
    margin-left: 140px;
    text-indent: -4em;
   
 }
.main .password{
    margin-top: 14px;
    margin-left: 140px;
    text-indent: -3em
}
.main .confirm{
    margin-top: 14px;
    margin-left: 140px;
    text-indent: -5em
}
.remind{
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-indent: 6.5em;
}
.main button{
    width: 100px;
    background-color: aqua;
    display: block;
    margin: 20px auto;
}
