*{
    margin: 0;
    padding: 0;
}
.main{
    width: 400px;
    height: 300px;
    border: 1px solid red;
    margin: 150px auto;
    text-align: center;
    position: relative;
    background-color: cyan;
}
.main p{
    position: absolute;
    top: 70px;
    left: 148px;
}
.main .inputs{
    margin-top:90px; 
}
.main .inputs div{
    margin-top:20px; 
}
.main .inputs .password{
    margin-left:15px; 
}
.main .login-bt{
    width: 100px;
    background-color: aqua;
    margin-top: 20px;
    margin-left:60px; 
}
.main .res-bt{
    width: 100px;
    background-color: aqua;
    display: block;
    margin-left: 180px;
    margin-top: 10px;
}
