<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户列表</title>
  <link rel="stylesheet" href="../../../lib/layui/css/layui.css">
</head>

<body>
  <table class="layui-hide" id="demoTable"></table>
  <script type="text/html" id="staDemo">
    <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
  <!-- <span>启用</span> -->
      <input id="check-btn" name="close" type="checkbox" checked="" lay-skin="switch" lay-text="已启用|已禁用" lay-filter="check-btn">
  </script>
  <script type="text/html" id="barDemo">
    <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
  <a class="layui-btn layui-btn-xs">查看</a>
  <a class="layui-btn layui-btn-xs layer">编辑</a>
  <a class="layui-btn layui-btn-xs">删除</a>
  </script>
  <a href="javascrit:void(0)" onclick="gotoPage('home')">父子通信测试</a>

  <!--引入jqeury文件 因为layui.js依赖jquery因此需要在它之前引入，引入了之后，本页面的所有js文件也可以使用jquery语法了-->
  <script src="../../../lib/jquery/jquery.min.js"></script>
  <!--引入layui js文件-->
  <script src="../../../lib/layui/layui.all.js" charset="utf-8"></script>
  <!--引入自己的脚本文件-->
  <script src="../js/userList.js"></script>
  <script>
  </script>
</body>

</html>