<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo页面</title>
  <link rel="stylesheet" href="../../../lib/layui/css/layui.css">
</head>
<body>
  <table class="layui-hide" id="demoTable"></table>
  <a href="javascrit:void(0)" onclick="gotoPage('home')">父子通信测试</a>

  <!--引入jqeury文件 因为layui.js依赖jquery因此需要在它之前引入，引入了之后，本页面的所有js文件也可以使用jquery语法了-->
  <script src="../../../lib/jquery/jquery.min.js"></script>
  <!--引入layui js文件-->
  <script src="../../../lib/layui/layui.all.js" charset="utf-8"></script>
  <!--引入自己的脚本文件-->
  <script src="../js/demo.js"></script>
</body>
</html>