<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo页面</title>
  <link rel="stylesheet" href="../../../lib/layui/css/layui.css">
</head>

<body>
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">商品名称</label>
      <div class="layui-input-block">
        <input name="username" class="layui-input" type="text" autocomplete="off"
          lay-verify="title" style="width:400px;" readonly="readonly">
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品类型</label>
        <div class="layui-input-block">
          <input name="username" class="layui-input" type="text" autocomplete="off"
            lay-verify="title" style="width: 200px;" readonly="readonly">
        </div>
      </div>
    <div class="layui-form-item">
      <label class="layui-form-label">商品价格</label>
      <div class="layui-input-block">
        <input name="username" class="layui-input" type="text" autocomplete="off"
          lay-verify="title" style="width: 200px;" readonly="readonly">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">商品货号</label>
      <div class="layui-input-block">
        <input name="username" class="layui-input" type="text" autocomplete="off"
          lay-verify="title" style="width: 400px;" readonly="readonly">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">商品库存</label>
      <div class="layui-input-block">
        <input name="username" class="layui-input" type="text" autocomplete="off"
          lay-verify="title" style="width: 200px;" readonly="readonly">
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">商品介绍</label>
      <div class="layui-input-block">
        <textarea name="desc" class="layui-textarea" style="width: 500px;" readonly="readonly"></textarea>
      </div>
    </div>
    <div class="layui-upload">
        <label class="layui-form-label" style="margin-top: -30px;">商品图片</label>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;margin-left: 40px;">
            <div class="layui-upload-list" id="demo2"></div>
         </blockquote>
    </div>
  </form>
  <!--引入jqeury文件 因为layui.js依赖jquery因此需要在它之前引入，引入了之后，本页面的所有js文件也可以使用jquery语法了-->
  <script src="../../../lib/jquery/jquery.min.js"></script>
  <!--引入layui js文件-->
  <script src="../../../lib/layui/layui.all.js"></script>
  <script>
  </script>
</body>

</html>